<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google API Example</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <input type="text" id="query" placeholder="Search for something">
    <button id="search">Search</button>

    <p><a href="" id="url" target="_blank">Click for result!</a></p>
</body>
</html>
